# Core functionality - changes here should be rare!
/src/app.py                   @kevendarcy01-beep
/src/backend/database.py      @kevendarcy01-beep
/src/backend/routers/auth.py  @kevendarcy01-beep

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kevendarcy01-beep
